@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="https://dl-mvc-adress-book.herokuapp.com/contacts/index">Register a User</a>.</p>
</div>
